<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BaseURL</key>
	<string> http://api.openweathermap.org/data/2.5/forecast</string>
	<key>APIKey</key>
	<string>2cf58968364dce8a18154518e855ae80</string>
	<key>Units</key>
	<string>metric</string>
	<key>BaseURLNew</key>
	<string>http://api.openweathermap.org/data/3.0/onecall</string>
</dict>
</plist>
